version: '3.8'

services:
  # App 1: User Service (Runs on Port 8001)
  users-app:
    build: .
    container_name: fastapi-users
    command: ["fastapi", "run", "service_users.py", "--port", "8000"]
    ports:
      - "8001:8000"

  # App 2: Product Service (Runs on Port 8002)
  products-app:
    build: .
    container_name: fastapi-products
    command: ["fastapi", "run", "service_products.py", "--port", "8000"]
    ports:
      - "8002:8000"

  # App 3: Order Service (Runs on Port 8003)
  orders-app:
    build: .
    container_name: fastapi-orders
    command: ["fastapi", "run", "service_orders.py", "--port", "8000"]
    ports:
      - "8003:8000"